<configuration>
	<components>
		<component 
			id="TaskLists" 
			type="TaskListRESTService.Controllers.TaskListsController, TaskListRESTService"
			lifestyle="transient"/>

		<component 
			id="TaskList" 
			type="TaskListRESTService.Controllers.TaskListController, TaskListRESTService"
			lifestyle="transient"/>

		<component 
			id="Task" 
			type="TaskListRESTService.Controllers.TaskController, TaskListRESTService"
			lifestyle="transient"/>

		<component 
			id="Home" 
			type="TaskListRESTService.Controllers.HomeController, TaskListRESTService"
			lifestyle="transient"/>
		<!--				
		<component
			id="HibernateDao"
			type="TaskListDaoHibernateImpl.TaskListDaoHibernateImpl, TaskListDaoHibernateImpl"
			service="TaskListDao.ITaskListDao, TaskListDao"
			lifestyle="singleton"/>

		<component
			id="HibernateWebSessionStorage"
			type="TaskListDaoHibernateImpl.Web.WebSessionStorage, TaskListDaoHibernateImpl.Web"
			service="TaskListDaoHibernateImpl.ISessionStorage, TaskListDaoHibernateImpl"
			lifestyle="singleton"/>
-->
<!--		<component
			id="HibernateHelper"
			type="TaskListDaoHibernateImpl.NHibernateHelper, TaskListDaoHibernateImpl"
			lifestyle="singleton">
			<parameters>
				<Dialect>NHibernate.Dialect.MySQL5Dialect</Dialect>
				<DriverClass>NHibernate.Driver.MySqlDataDriver</DriverClass>
				<ConnectionString>Server=localhost;Database=tasklist;User ID=tasklist;Password=tasklist</ConnectionString>
				<ExportSchema>false</ExportSchema>
			</parameters>
		</component> -->

<!--
		<component
			id="HibernateHelper"
			type="TaskListDaoHibernateImpl.NHibernateHelper, TaskListDaoHibernateImpl"
			lifestyle="singleton">
			<parameters>
				<Dialect>NHibernate.Dialect.SQLiteDialect</Dialect>
				<DriverClass>TaskListDaoHibernateImpl.MonoSqliteDriver,TaskListDaoHibernateImpl</DriverClass>
				<ConnectionString>data source=tasklist</ConnectionString>
				<ExportSchema>true</ExportSchema>
			</parameters>
		</component>
	-->	
		<component
			id="MockDao"
			type="TaskListDaoMockImpl.TaskListDaoMockImpl, TaskListDaoMockImpl"
			service="TaskListDao.ITaskListDao, TaskListDao"
			lifestyle="singleton"/> 
	</components>
</configuration>